@page "/"
@inject NavigationManager NavigationManager
@inject NoticiasService noticiasService
@inject CitasService citasService
@inject DoctoresService doctoresService
@inject DisponibilidadService disponibilidadService

<PageTitle>MediSoft</PageTitle>

<style>
    .card {
        transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
        text-decoration: none; 
        display: block; 
    }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

    .card-header img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }

    .card-body img {
        width: 3rem; 
        height: 3rem; 
        display: block;
        margin: 0 auto;
    }

    .table-custom {
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        overflow: hidden;
        margin-top: 20px;
    }

        .table-custom th, .table-custom td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: center;
        }

        .table-custom thead {
            background-color: #4267B2; 
            color: #fff;
        }

        .table-custom tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table-custom tbody tr:hover {
            background-color: #eaeaea;
        }

        .table-custom th {
            font-weight: bold;
        }
</style>

<PageTitle>Inicio</PageTitle>
<div class="container bg-transparent">
    <h2 class="text-center text-primary mt-3 mb-4">Bienvenido/a a MediSoft</h2>
    <div class="row">
        <!-- Pacientes Card -->
        <div class="col-md-4 mb-4">
            <NavLink class="card bg-danger text-white shadow-sm" style="text-decoration: none;">
                <div class="card-header">
                    <img src="https://png.pngtree.com/png-clipart/20221003/original/pngtree-medical-logo-png-image_8653959.png" alt="Medical Icon"> Pacientes
                </div>
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/706/706215.png" alt="Medical Icon">
                    <p class="card-text">Nuestros pacientes son: @CantidadCitasPacientes</p>
                </div>
            </NavLink>
        </div>
        <!-- Doctores Card -->
        <div class="col-md-4 mb-4">
            <NavLink class="card bg-primary text-white shadow-sm"  style="text-decoration: none;">
                <div class="card-header">
                    <img src="https://png.pngtree.com/png-clipart/20221003/original/pngtree-medical-logo-png-image_8653959.png" alt="Medical Icon"> Doctores
                </div>
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/3461/3461551.png" alt="Medical Icon">
                    <p class="card-text">Doctores: @CantidadDoctores</p>
                </div>
            </NavLink>
        </div>

        <!-- Doctores Disponibles Card -->
        <div class="col-md-4 mb-4">
            <NavLink class="card bg-info text-white shadow-sm" style="text-decoration: none;">
                <div class="card-header">
                    <img src="https://png.pngtree.com/png-clipart/20221003/original/pngtree-medical-logo-png-image_8653959.png" alt="Medical Icon"> Doctores Disponibles
                </div>
                <div class="card-body">
                    <img src="https://cdn-icons-png.freepik.com/512/4850/4850909.png" alt="Medical Icon">
                    <p class="card-text">Docotores disponibles: @CantidadDoctoresDisponibles</p>
                </div>
            </NavLink>
        </div>

        <!-- Citas Card -->
        <div class="col-md-4 mb-4">
            <NavLink class="card bg-warning text-dark shadow-sm" style="text-decoration: none;">
                <div class="card-header">
                    <img src="https://png.pngtree.com/png-clipart/20221003/original/pngtree-medical-logo-png-image_8653959.png" alt="Medical Icon"> Citas
                </div>
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/5980/5980048.png" alt="Medical Icon">
                    <p class="card-text">Citas programadas: @CantidadCitasPacientes</p>
                </div>
            </NavLink>
        </div>

        <!-- Noticias Card -->
        <div class="col-md-4 mb-4">
            <NavLink class="card bg-success text-white shadow-sm" style="text-decoration: none;">
                <div class="card-header">
                    <img src="https://png.pngtree.com/png-clipart/20221003/original/pngtree-medical-logo-png-image_8653959.png" alt="Medical Icon"> Noticias
                </div>
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/600/600805.png" alt="Medical Icon">
                    <p class="card-text">Noticias: @CantidadNoticias</p>
                </div>
            </NavLink>
        </div>
    </div>
</div>

@code {
    private int CantidadNoticias;
    private int CantidadCitasPacientes;
    private int CantidadDoctores;
    private int CantidadDoctoresDisponibles;

    protected override async Task OnInitializedAsync()
    {
        CantidadNoticias = await noticiasService.ObtenerCantidadNoticiasAsync();
        CantidadCitasPacientes = await citasService.ObtenerCantidadCitasAsync();
        CantidadDoctores = await doctoresService.ObtenerCantidadDoctoresAsync();
        CantidadDoctoresDisponibles = await disponibilidadService.ObtenerCantidadDoctoresDisponiblesAsync();

    }
}
